<div class="text-center" *ngIf="isLoading; else loaded">
  <div class="spinner-border text-secondary" style="width: 7rem; height: 7rem; margin-top: 35px;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ng-template #loaded>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="{{user.profilePic}}" alt="" >
      </div><!-- /col-4 -->

      <div class="col-8">
        <h3>{{user.username}}</h3>
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <h3>{{user.email}}</h3>
      </div><!-- /col-8 -->
    </div><!-- /row -->

    <hr>

    <div class="row">
      <div class="col col-overflow">
        <h2>Articles:</h2>
        <div class="row" *ngFor="let currArticles of user.articles">
          <div class="col" *ngFor="let article of currArticles">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img src="{{article.img}}" alt=""></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>{{article.title}}</h4>
                </mdb-card-title>
                                
                <!--Text-->
                <mdb-card-text>{{article.shortDescr}}</mdb-card-text>
                            
                <a href="/article/{{article._id}}" mdbBtn color="secondary" mdbWavesEffect>Open</a>
              </mdb-card-body>
            </mdb-card>
          </div><!-- /col -->
        </div><!-- /row -->
      </div><!-- /col -->

      <div class="col col-overflow">
        <h2>Recipes:</h2>
        <div class="row" *ngFor="let currRecipes of user.recipes">
          <div class="col" *ngFor="let recipe of currRecipes">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img src="{{recipe.img}}" alt=""></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>{{recipe.name}}</h4>
                </mdb-card-title>
                                  
                <!--Text-->
                <mdb-card-text>{{recipe.shortDescr}}</mdb-card-text>
                              
                <a href="/recipe/{{recipe._id}}" mdbBtn color="secondary" mdbWavesEffect>Open</a>
              </mdb-card-body>
            </mdb-card>
          </div><!-- /col -->
        </div><!-- /row -->
      </div><!-- /col -->
    </div><!-- /row -->

    <hr>
  </div><!-- /container -->
</ng-template>