<div class="container">
  <div class="row">
    <div class="col col-home">
      <img class="img-small" (click)="redirectToArticles()" src="https://media.self.com/photos/586fb88aa39bf53c46349c11/master/w_728,c_limit/aapaleoplateDSC_3278b-w800.jpg" alt="" >
      <br>
      <h3 class="h3-color">To articles</h3>
    </div><!-- /col -->

    <div clas="col col-home">
      <img class="img-small" (click)="redirectToRecipes()" src="https://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/focaccia-bari-style.jpg?itok=XSUw65cD" alt="" >
      <br>
      <h3 class="h3-color">To recipes</h3>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->