<div class="text-center" *ngIf="isLoading; else loaded">
  <div class="spinner-border text-secondary" style="width: 7rem; height: 7rem; margin-top: 35px;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ng-template #loaded>
  <div class="container container-additional-style">
    <!-- Name -->
    <div class="row">
      <div class="col col-header">
        {{recipe.name}}
      </div>
    </div><!-- /row -->

    <hr />

    <!-- Img -->
    <div class="row">
      <div class="col col-img">
        <img src="{{recipe.img}}" />
      </div>
    </div><!-- /row -->

    <hr />

    <!-- Preparation -->
    <div class="row">
      <div class="col col-left">
        <h5>Products:</h5>
        <ul class="list-left">
          <li *ngFor="let product of recipe.products">
            {{product}}
          </li>
        </ul>
      </div>
      <div class="col-8 col-right">
        <h5>How to prepare:</h5>
        {{recipe.preparation}}
      </div>
    </div> <!-- /row -->

    <hr />

    <!-- Author -->
    <div class="row" *ngIf="isAdmin || recipe.isAuthor; else noAuth">
      <div class="col col-btns">
        <a href="/recipe/edit/{{recipe._id}}" mdbBtn color="secondary" mdbWavesEffect>Edit</a>
        <a mdbBtn color="secondary" (click)="deleteRecipe(recipe._id)" mdbWavesEffect>Delete</a>
      </div>
      <div class="col col-footer">
        Author: <a href="/profile/{{recipe.author}}">{{recipe.author.firstName}} {{recipe.author.lastName}}</a>
      </div>
    </div>

    <ng-template #noAuth>
      <div class="row">
          <div class="col col-footer">
            Author: {{recipe.author.firstName}} {{recipe.author.lastName}}
          </div><!-- /col col-footer -->
      </div><!-- /row -->
    </ng-template>
  </div><!-- /container -->
</ng-template>