<div class="text-center" *ngIf="isLoading; else loaded">
  <div class="spinner-border text-secondary" style="width: 7rem; height: 7rem; margin-top: 35px;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ng-template #loaded>
  <div class="container container-additional-style">
    <!-- Title -->
    <div class="row">
      <div class="col col-header">
        <h3>
          <strong>
            {{article.title}}
          </strong>
        </h3>
      </div>
    </div><!-- /row -->

    <hr />

    <!-- Img -->
    <div class="row">
      <div class="col col-img">
        <img src="{{article.img}}" />
      </div>
    </div><!-- /row -->

    <hr />

    <!-- Description -->
    <div class="row">
      <div class="col col-content">
        {{article.description}}
      </div>
    </div><!-- /row -->

    <hr />

    <!-- Author -->
    <div class="row" *ngIf="isAdmin || article.isAuthor; else notAuth">
      <div class="col col-btns">
        <a href="/article/edit/{{article._id}}" mdbBtn color="secondary" mdbWavesEffect>Edit</a>
        <a mdbBtn color="secondary" (click)="deleteArticle(article._id)" mdbWavesEffect>Delete</a>
      </div>
      <div class="col col-footer">
        Author: {{article.author.firstName}} {{article.author.lastName}}
      </div>
    </div><!-- /row -->

    <ng-template #notAuth>
      <div class="row">
        <div class="col col-footer">
          Author: {{article.author.firstName}} {{article.author.lastName}}
        </div>
      </div><!-- /row -->
   </ng-template>

    <hr />
  </div><!-- /container -->
</ng-template>