<div class="text-center" *ngIf="isLoading; else loaded">
  <div class="spinner-border text-secondary" style="width: 7rem; height: 7rem; margin-top: 35px;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
  
<ng-template #loaded>
  <div class="form-wrapper">
    <!-- Default form login -->    
    <form class="text-center border border-light p-5 wrapped" (submit)="loginUser()">
      <p class="h4 mb-4">Sign in</p>

      <!-- Username -->
      <div class="md-form">
        <input mdbInput type="text" name="username" id="username" class="form-control" [(ngModel)]="username" >
        <label for="username" class="">Username</label>
      </div><!-- /md-form -->

      <!-- Password -->
      <div class="md-form">
        <input mdbInput type="password" name="password" id="password" class="form-control" [(ngModel)]="password" >
        <label for="password" class="">Password</label>
      </div><!-- /md-form -->

      <!-- Sign in button -->
      <button mdbBtn color="secondary" block="true" class="my-4" type="submit">Sign in</button>
      <hr>
    </form>
    <!-- Default form login -->
  </div>
</ng-template>
