<div class="text-center" *ngIf="isLoading; else loaded">
  <div class="spinner-border text-secondary" style="width: 7rem; height: 7rem; margin-top: 35px;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
    
<ng-template #loaded>
  <div class="form-wrapper">
    <!-- Default form edit recipe -->    
    <form class="text-center border border-light p-5 wrapped background" (submit)="editRecipe()">
      <p class="h4 mb-4">Edit recipe</p>
  
      <!-- Name -->
      <div class="md-form">
        <input mdbInput type="text" name="name" id="name" class="form-control" [(ngModel)]="recipe.name" >
        <label for="name" class="">Name</label>
      </div><!-- /md-form -->

      <!-- Products -->
      <div class="md-form">
        <input mdbInput type="text" name="product" id="product" class="form-control" [(ngModel)]="currProduct" >
        <label for="product" class="">Product</label>
      </div><!-- /md-form -->
      <button type="button" mdbBtn color="secondary" (click)="addProduct()" mdbWavesEffect>Add</button>

      <!-- Listed products -->
      <div class="btn-group" mdbDropdown *ngIf="recipe.products.length > 0">
        <button mdbDropdownToggle type="button" mdbBtn color="secondary" class="dropdown-toggle waves-light"
          mdbWavesEffect>
          Products
        </button>
      
        <div class="dropdown-menu dropdown-secondary">
          <a class="dropdown-item" *ngFor="let product of recipe.products" (click)="removeProduct(product)">{{product}}</a>
        </div>
      </div>
  
      <!-- Preparation -->
      <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea form-control" [(ngModel)]="recipe.preparation"
        [ngModelOptions]="{standalone: true}" rows="10" mdbInput></textarea>
        <label for="form7">Content</label>
      </div>
  
      <!-- Img -->
      <div class="md-form">
        <input mdbInput type="text" name="img" id="img" class="form-control" [(ngModel)]="recipe.img" >
        <label for="img" class="">Image url</label>
      </div><!-- /md-form -->
  
      <!-- Edit button -->
      <button mdbBtn color="secondary" block="true" class="my-4" type="submit">Edit</button>
      <hr>
    </form>
    <!-- Default form edit recipe -->
  </div>
</ng-template>
  