<div class="text-center" *ngIf="isLoading; else loaded">
  <div class="spinner-border text-secondary" style="width: 7rem; height: 7rem; margin-top: 35px;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
    
<ng-template #loaded>
  <div class="form-wrapper">
    <!-- Default form edit article -->    
    <form class="text-center border border-light p-5 wrapped background" (submit)="editArticle()">
      <p class="h4 mb-4">Edit article</p>
  
      <!-- Title -->
      <div class="md-form">
        <input mdbInput type="text" name="title" id="title" class="form-control" [(ngModel)]="article.title" >
        <label for="title" class="">Title</label>
      </div><!-- /md-form -->
  
      <!-- Description -->
      <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea form-control" [(ngModel)]="article.description"
        [ngModelOptions]="{standalone: true}" rows="10" mdbInput></textarea>
        <label for="form7">Content</label>
      </div>
  
      <!-- Img -->
      <div class="md-form">
        <input mdbInput type="text" name="img" id="img" class="form-control" [(ngModel)]="article.img" >
        <label for="img" class="">Image url</label>
      </div><!-- /md-form -->
  
      <!-- Edit button -->
      <button mdbBtn color="secondary" block="true" class="my-4" type="submit">Edit</button>
      <hr>
    </form>
    <!-- Default form edit article -->
  </div>
</ng-template>
  