<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/">Home</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto" *ngIf="isAdmin; else notAdmin">
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Article<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/articles">Articles</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/article/create">Create article</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/my-articles">My articles</a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Recipe<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/recipes">Recipes</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/recipe/create">Create recipe</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/my-recipes">My recipes</a>
        </div>
      </li>
    </ul>
    <!-- Links -->

    <ng-template #notAdmin>
      <!-- Links -->
      <ul class="navbar-nav mr-auto" *ngIf="isLogged; else notLogged">
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Article<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/articles">Articles</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/article/create">Create article</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/my-articles">My articles</a>
          </div>
        </li>
    
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Recipe<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/recipes">Recipes</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/recipe/create">Create recipe</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/my-recipes">My recipes</a>
          </div>
        </li>
      </ul>
      <!-- Links -->

      <ng-template #notLogged>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/articles">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/recipes">Recipes</a>
          </li>
        
        </ul>
        <!-- Links -->
      </ng-template>
    </ng-template>

    <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="isLogged; else noLoggedUser">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" routerLink="/profile/{{currUserId}}" *ngIf="!isAdmin">My profile</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <ng-template #noLoggedUser>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" (click)="loginModal.show()">Login</a>
                <a class="dropdown-item" (click)="registerModal.show()">Register</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </ng-template>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!-- Register -->
<div mdbModal #registerModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="text-center" *ngIf="isLoading">
    <div class="spinner-border text-secondary" style="width: 7rem; height: 7rem; margin-top: 35px;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="modal-dialog" role="document" *ngIf="!isLoading">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="registerModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="firstName" class="form-control validate" [(ngModel)]="firstName"
            mdbInput>
          <label data-error="wrong" data-success="right" for="firstName">First name</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="lastName" class="form-control validate" [(ngModel)]="lastName"
            mdbInput>
          <label data-error="wrong" data-success="right" for="lastName">Last name</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="usernameRegister" class="form-control validate" [(ngModel)]="usernameRegister"
            mdbInput>
          <label data-error="wrong" data-success="right" for="usernameRegister">Username</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="email" class="form-control validate" [(ngModel)]="email"
            mdbInput>
          <label data-error="wrong" data-success="right" for="email">Email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="passwordRegister" class="form-control validate" [(ngModel)]="passwordRegister"
            mdbInput>
          <label data-error="wrong" data-success="right" for="passwordRegister">Password</label>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="registerUser(registerModal)">Sign up</button>
      </div>
    </div>
  </div>
</div>
<!-- /.Register -->

<!-- Login -->
<div mdbModal #loginModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="text-center" *ngIf="isLoading">
    <div class="spinner-border text-secondary" style="width: 7rem; height: 7rem; margin-top: 35px;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="modal-dialog" role="document" *ngIf="!isLoading">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="loginModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="usernameLogin" class="form-control validate" [(ngModel)]="usernameLogin"
            mdbInput>
          <label data-error="wrong" data-success="right" for="usernameLogin">Username</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="passwordLogin" class="form-control validate" [(ngModel)]="passwordLogin"
            mdbInput>
          <label data-error="wrong" data-success="right" for="passwordLogin">Password</label>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="loginUser(registerModal)">Sign in</button>
      </div>
    </div>
  </div>
</div>
<!-- /.Login -->